<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My weather App</title>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
 <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
 

</head>
<body>
<div id="top">
<h1 align="center">Cincinnati Weather</h1>
</div>
<div id="container">

  <form id="contact"  name="contact" method="GET" action="/forecast/">
  <h3>Select a date</h3>

  <p><input type="date" id="date" value="date"/></p>

    <input type="submit" id="btn" value="Get Forecast"  class="button"/>
    <br>
    <div id="chartContainer" style="height: 370px; width: 55%;padding-left:10%;"></div>
  <div id="chartContainer2" style="height: 370px; width: 55%;padding-left:10%;"></div>
    </form> 
 </div>


<script type = "text/javascript">
var form = $("#contact");
form.submit(function() {
     var da = document.getElementById("date").value;
            var year = da.substring(0, 4);
            var month = da.substring(5, 7);
            var day = da.substring(8, 10);
            var fd = year + month + day;
     var temp = 'http://ec2-3-16-181-53.us-east-2.compute.amazonaws.com:8001/forecast/';
     var lookurl = temp+fd;
$.ajax({
  type: form.attr("method"),
  dataType:"json",
  url: lookurl,
  success: function(det) {
   if(det !== undefined){
			let arr = [];
			let tmaxarr = [];
		for(let i=0; i< det.length;i++){
			let row = {y : det[i]['TMIN'],label : det[i]['DATE']};
			let tmaxrow = {y : det[i]['TMAX'],label : det[i]['DATE']};
			arr.push(row);
			tmaxarr.push(tmaxrow);
		}
		let chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		exportEnabled: true,
		title: {
			text: "Plot for selected date " + fd
		},
		data: [{
			type: "line",
			dataPoints: arr,
		},
			{
			type: "line",
			dataPoints: tmaxarr,
		}]
		});
		chart.render();
		}
  }
});
$.ajax({
  type: form.attr("method"),
  dataType:"json",
  url:"http://dataservice.accuweather.com/forecasts/v1/daily/5day/335315?apikey=A1joYDEDSWQoe8zE2WLmGP7piDuQh8Et",
  success: function(details) {
    if(details !== undefined){
			let arr = [];
			let tmaxarr = [];
		for(let i=0; i< 5;i++){
			let row = {y : details["DailyForecasts"][i]["Temperature"]["Minimum"].Value ,label : details["DailyForecasts"][i]["Date"].substring(0,10)};
			let tmaxrow= {y : details["DailyForecasts"][i]["Temperature"]["Maximum"].Value ,label : details["DailyForecasts"][i]["Date"].substring(0,10)};
			arr.push(row);
			tmaxarr.push(tmaxrow);
		}
		let chart = new CanvasJS.Chart("chartContainer2", {
		animationEnabled: true,
		exportEnabled: true,
		title: {
			text: "Plot Using Third Party for next 5 days"
		},
		data: [{
			type: "line",
			dataPoints: arr,
		},
			{
			type: "line",
			dataPoints: tmaxarr,
		}]
		});
		chart.render();
		}
}
});
return false;
});
</script>


</body>
</html>